{% extends 'base.html.twig' %}

{% block title %}Nos Burgers{% endblock %}

{% block body %}
    <style>
        /* Style pour les liens dans la liste des burgers */
        .burger-list-container a {
            color: #E0E0E0;
            text-decoration: underline;
            font-style: italic;
        }
    </style>

    <div class="burger-list-container">
        <h1>Nos Burgers</h1>

        <ul>
            {% for burger in burgers %}
                <li>
                    <a href="{{ path('burger_show', {id: burger.id}) }}">
                        {{ burger.name }}
                    </a>
                </li>
            {% else %}
                <li>Aucun burger trouvé.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
