{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <h2>Bienvenue sur CRUD croustillant !</h2>
        <p>Découvrez nos délicieux burgers.</p>
        <img src="{{ asset('img/colonelSanders.jpg') }}" style="max-width: 100%; height: auto;">
    </main>
{% endblock %}
